body {
    font-family: 'Bad Script', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #003399;
    background: url("../images/squared_paper_sheet.jpg") repeat;
    background-size: 60%;
    padding: 50px 2%;
    font-weight: 700;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: 5vw;
    }

    .main {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        font-size: 2.5vw;

        .main__input,
        .main__select,
        .main__btn {
            text-align: center;
            background: none;
            border: none;
            font-family: 'Bad Script';
            width: 12%;
            font-size: 2.5vw;
            color: #003399;
            font-weight: 700;
        }

        .main__input--mod {
            width: 30%;
            text-align: left;
        }

        .main__btn {
            margin: 20px 0 20px;
            width: 35%;
            font-size: 2vw;
            background-color: #FDF6E6;
            border: 2px solid #003399;
            border-radius: 50px;
            box-shadow: 5px 10px 7px #1F5F5A;
        }

        .main__btn:hover {
            cursor: pointer
        }

        .main__btn:active {
            background: #003399;
            color: #FDF6E6;
            box-shadow: none;
            transform: scale(0.9);
        }

        .main__block--mod {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .main__item {
                padding: 10px 0;
                border-top: 2px solid #003399;

                .main__input {
                    width: 50%;
                    border-bottom: 2px dashed #003399;
                }
            }
        }

        .main__block--add {
            display: none;
        }

        .main__block--spec {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .main__item--mod {
                padding-top: 25px;
                border-top: 2px solid #003399;

                p {
                    padding: 15px 0;
                }

                span {
                    display: none;
                }

                td {
                    padding: 16px;
                    border: 2px solid #003399;
                }

            }

            .result-select {
                width: 100%;
            }

            .main__input {
                width: 100%;
                text-align: center;
                border: 2px solid #003399;
                font-size: 2.1vw;
            }
        }

        .main__block {
            ul {
                padding: 15px 0;

                li {
                    padding: 15px 0;
                }
            }
        }
    }

    .footer {
        display: none;
        margin-top: 25px;
        font-size: 1.3vw;

        .footer__item {
            padding: 15px 0;
            border-top: 2px solid #003399;
        }
    }
}