body {
    font-family: 'Bad Scrip', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: url("../images/squared_paper_sheet.jpg") repeat center center;
    background-size: cover;
}